{% load static %}
<html>

<head>
    <!-- CSS Import -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Document Summarization Test</title>
</head>

<body>
    <div class="container clearfix">
        <header class="text-center m-5">
            <h1>Document Summarization Test Page</h1>
        </header>
        <article class="content" style="margin-bottom: 100px">
            <div class="row">
                <div class="col-6">
                    <div class="form">
                        <div class="form-group">
                            <span class="float-right">
                                <a class="btn btn-sm btn-primary" href="/"><i class="fa fa-sync"></i></a>
                            </span>
                            <h5>Target Article</h5>
                            <textarea id="article-text" class="form-control-plaintext overflow-hidden text-justify" placeholder="Input text here...">{{ article|default_if_none:''}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <h5>Summary</h5>
                        <div id="summary" class="form-control-plaintext text-justify">
                            {% if summary is None %}
                            <span>여기에 요약문이 표시됩니다.</span>
                            {% endif %}
                            {% if summary is not None %}
                            <form id="form-eval" class="form mb-0" action="eval" method="POST">
                                <input name="sum" value="{{ summary }}" type="hidden">
                                <input name="doc" value="{{ article }}" type="hidden">
                                {% if summary.pgn is not None %}
                                <h6>생성적 요약 (pointer generator network)</h6>
                                <div class="row m-0">
                                    <div class="col-2 p-0">
                                        <span class="badge badge-danger">bad</span>
                                    </div>
                                    <div class="col-8 p-0">
                                        <input class="custom-range" type="range" name="score-pgn" min="0" max="4" step="1">
                                    </div>
                                    <div class="col-2 p-0 text-right">
                                        <span class="badge badge-success">good</span>
                                    </div>
                                </div>
                                <p>{{ summary.pgn }}</p>
                                {% endif %}
                                {% if summary.textrank is not None %}
                                <h6 class="mt-3">문장 추출식 요약 (textrank)</h6>
                                <div class="row m-0">
                                    <div class="col-2 p-0">
                                        <span class="badge badge-danger">bad</span>
                                    </div>
                                    <div class="col-8 p-0">
                                        <input class="custom-range" type="range" name="score-textrank" min="0" max="4" step="1">
                                    </div>
                                    <div class="col-2 p-0 text-right">
                                        <span class="badge badge-success">good</span>
                                    </div>
                                </div>
                                <p>{{ summary.textrank }}</p>
                                <div class="form-group mb-0">
                                    <div class="input-group">
                                        <input class="form-control" type="text" id="name" name="name"
                                            placeholder="Insert your name">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="submit">Send</button>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </article>
        </article>
        <footer class="container fixed-bottom">
            <div class="p-3 bg-white rounded-top border clearfix">
                <form id="form-request" class="form mb-0" action="/" method="post">
                    <input id="article" type="hidden" name="article">
                    <b>Options</b>
                    <span class="splitter ml-3 mr-3"></span>
                    <b class="mr-3">Abstractive</b>
                    <span class="custom-control custom-checkbox custom-control-inline">
                        <input class="custom-control-input" type="checkbox" name="option" value="pgn"
                            id="option-pgn" {% if "pgn" in options %}checked{% endif %}>
                        <label class="custom-control-label" for="option-pgn">PGN</label>
                    </span>
                    <span class="splitter ml-3 mr-3"></span>
                    <b class="mr-3">Extractive</b>
                    <span class="custom-control custom-checkbox custom-control-inline">
                        <input class="custom-control-input" type="checkbox" name="option" value="textrank"
                            id="option-textrank" {% if "textrank" in options %}checked{% endif %}>
                        <label class="custom-control-label" for="option-textrank">Textrank</label>
                    </span>
                    <button class="float-right btn btn-sm btn-primary" type="button" onclick="submitForm()">Summarize</button>
                </form>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>