h1, h2 {
    font-family: '';
    margin: 30 auto;
    text-align: center;
}
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 800px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 10em;

    /* To allow users to resize any textarea vertically
       It does not work on every browsers */
    resize: vertical;
}
.button {
    text-align: center;
    display: block;
    margin: 20 auto;
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
    width: 160px
}
